<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Courses app</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isMain}}
        <li class="active"><a href="/">Home</a></li>
      {{else}}
        <li><a href="/">Home</a></li>
      {{/if}}
      {{#if isCourses}}
        <li class="active"><a href="/courses">Courses</a></li>
      {{else}}
        <li><a href="/courses">Courses</a></li>
      {{/if}}
      {{#if isAddCourse}}
        <li class="active"><a href="/add_course">Add course</a></li>
      {{else}}
        <li><a href="/add_course">Add course</a></li>
      {{/if}}
      {{#if isBusket}}
        <li class="active"><a href="/card">Busket</a></li>
      {{else}}
        <li><a href="/card">Busket</a></li>
      {{/if}}
      {{#if isOrder}}
        <li class="active"><a href="/orders">Orders</a></li>
      {{else}}
        <li><a href="/orders">Orders</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
