<h1>Card</h1>
<div id="card">
{{#if courses.length}}
<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Count</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <td>{{ title }}</td>
      <td>{{ count }}</td>
      <td>
        <button class="btn btn-small js-remove" data-id="{{ _id }}">Delete</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p>
  <strong>Cost:</strong> <span class="price">{{ price }}</span>
</p>

<form action="/orders" method="POST">
  <button type="submit" class="btn">Make an order</button>
</form>
{{else}}
Empty Card
{{/if}}
</div>